<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <div>
        <form action="" method="post">
            {{ form.csrf_token }}
            <br>{{ form.username.label }}{{ form.username }}<br>
                {% for message in form.username.errors %}
                    {{ message }}
                {% endfor %}
            <br>{{ form.telephone.label }}{{ form.telephone }}<br>
                {% for message in form.telephone.errors %}
                    {{ message }}
                {% endfor %}
{#            <br>{{ form.role.label }}{{ form.role }}<br>#}
            <br>{{ form.password.label }}{{ form.password }}<br>
                {% for message in form.password.errors %}
                    {{ message }}
                {% endfor %}
            <br>{{ form.verify_pwd.label }}{{ form.verify_pwd }}<br>
                {% for message in form.verify_pwd.errors %}
                    {{ message }}
                {% endfor %}
            {{ form.submit }}
        </form>
    </div>
</body>
</html>