<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="">

            {{ form.name.label }}{{ form.name }}
            <br>
            {{ form.serial.label }}{{ form.serial }}
            <br>
            {{ form.number.label }}{{ form.number }}
            <br>
            {{ form.size.label }}{{ form.size }}
            <br>
            {{ form.unit.label }}{{ form.unit }}
            <br>
            {{ form.category.label }}{{ form.category }}
            <br>
            {{ form.partner.label }}{{ form.partner }}
            <br>
            {{ form.submit }}

        </form>
    </div>
</body>
</html>